<app-my-nav></app-my-nav>
<br>
<div class="container">

<p>Enter your email id to reset password!</p>

<form class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" name="username" class="form-control" placeholder="Username">
        </div>    
</form>

<label for="email">Email address:</label>
<input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" autofocus placeholder="xyz@abc.com">
<br>
<button type="submit" class="btn btn-primary" (click)="forgotPasswordFunction()">Reset</button>

</div>
 
